<html>
<div id="debug-panel">
    <!-- Debugging Buttons -->
    <div id="debug-controls">
        <a class="btn btn-primary m-2" (click)="this.placeMarkers()">Place Markers</a>
        <a class="btn btn-secondary m-2" (click)="this.clearMarkers()">Clear Markers</a>
        <a class="btn btn-secondary m-2" (click)="this.toggleCrosshairs()">Toggle Crosshairs</a>
    </div>
    <!-- Debugging panel -->
    <div class="card ml-2 position-fixed">
        <div class="card-body">
            <div class="form-group">
                <!-- Current center -->
                <ng-container *ngIf="this.currentPosition">
                    <label class="mt-2">Current Center</label>
                    <samp class="form-text">
                        {{this.currentPosition.latitude}},{{this.currentPosition.longitude}}
                    </samp>
                </ng-container>

                <!-- Current map boundaries -->
                <label class="mt-2">Current map boundaries</label>
                <samp class="form-text">
                    <ng-container *ngIf="this.currentMapBoundaries else emptyState">
                        {{this.currentMapBoundaries.minLatitude}},{{this.currentMapBoundaries.maxLatitude}},
                        <br>
                        {{this.currentMapBoundaries.minLongitude}},{{this.currentMapBoundaries.maxLongitude}}
                    </ng-container>
                    <ng-template #emptyState>
                        zoomed out too far
                    </ng-template>
                </samp>
            </div>
        </div>
    </div>

    <!-- Crosshairs -->
    <div [ngClass]="[displayCrosshairs ? '': 'd-none']">
        <div class="v-line"></div>
        <div class="h-line"></div>
    </div>
</div>

<!-- Slide out container -->
<div class="slide-out-container">
    <div id="slide-out-controls" class="w-100 d-flex justify-content-center">
        <a class="btn btn-primary m-2" (click)="this.placeMarkers()">News</a>
        <a class="btn btn-secondary m-2" (click)="this.toggleActivities()">Activities</a>
    </div>

    <div [ngClass]="['slide-out ', showActivities ? 'expand':'']">
        <div class="jumbotron">
            <h1 class="display-4">Hello, world!</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention
                to
                featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </div>
    </div>
</div>

<app-globe-view (getCenterEmitter)="this.updateCenterLocation($event)" [inputMarkers]="markers"></app-globe-view>

</html>
<router-outlet>
</router-outlet>