<html>
<div id="debug-panel">
    <!-- Debugging panel -->
    <!-- <div class="card position-fixed">
        <div class="card-body">
            <div class="form-group">
                <ng-container *ngIf="this.currentAddress">
                    <label class="mt-2">Address</label>
                    <h3 class="form-text">
                        {{this.currentAddress.country}},{{this.currentAddress.city}},{{this.currentAddress.street}}
                    </h3>
                </ng-container>

                <ng-container *ngIf="this.currentPosition else emptyState">
                    <label class="mt-2">Coordinates</label>
                    <h3 class="form-text">
                        {{this.currentPosition.latitude}},{{this.currentPosition.longitude}}
                    </h3>
                </ng-container>
                <ng-template #emptyState>
                    You're too far away! Zoom in closer.
                </ng-template>
            </div>
        </div>
    </div> -->



    <!-- Crosshairs -->
    <div [ngClass]="[displayCrosshairs ? '': 'd-none']">
        <div class="v-line"></div>
        <div class="h-line"></div>
    </div>
</div>

<div class="slide-out-container">
    <div id="slide-out-controls" class="w-100 d-flex justify-content-center">
        <!-- <a class="btn btn-primary m-2" (click)="this.placeMarkers()">News</a>
        <a class="btn btn-secondary m-2" (click)="this.toggleActivities()">Activities</a> -->
    </div>
    <!-- Pop out container-->
    <div [ngClass]="['slide-out overflow-auto ', showActivities ? 'expand':'']">
        <div class="exit-slide-out font-weight-bold" (click)="toggleActivities()">x</div>
        <div *ngIf="this.selectedMarker" class="jumbotron">
            <h1 class="display-4">{{this.selectedMarker.title}}</h1>

            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention
                to
                featured content or information.</p>
            <hr class="my-4">

            <div *ngIf="this.selectedMarker.associatedContent">
                <ng-container *ngFor="let content of this.selectedMarker.associatedContent">
                    <img [src]="content.url" class="rounded w-100 m-2" alt="...">
                </ng-container>
            </div>
        </div>
    </div>
</div>



<app-globe-view (selectedMarker)="selectMarker($event)" (getCenterEmitter)="this.updateCenterLocation($event)"
    [inputMarkers]="markers"></app-globe-view>

</html>
<router-outlet>
</router-outlet>