<div *ngIf="marker" class="p-5">
  <!-- Title -->
  <h1 class="display-4">{{marker.title}}</h1>
  <!-- Featured Image -->
  <div class="container justify-content-center">
    <!-- <img *ngIf= [src]="content.url" class="rounded w-100 my-2" alt="..."> -->
  </div>
  <!-- Description -->
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention
    to
    featured content or information.</p>
  <hr class="my-4">

  <!-- Additional content-->

  <div class="container justify-content-center">
    <div *ngIf="marker.associatedContent">
      <ng-container *ngFor="let content of marker.associatedContent">

        <!-- VIEW BASED ON CONTENT -->
        <ng-container [ngSwitch]="content.type">
          <!-- IMAGE -->
          <img *ngSwitchCase="ContentType.IMAGE" [src]="content.url" class="rounded w-100 my-2" alt="...">

          <!-- TEXT / POEM  -->
          <div *ngSwitchCase="ContentType.TEXT" class="card my-5" style="font-style: italic; font-size: 2rem">
            <div class="card-body display-4" style="font-size: 2rem">
              {{content.body}}
            </div>
          </div>

        </ng-container>


        <!-- content text -->


      </ng-container>
    </div>
  </div>
</div>